* {
	margin: 0;
}

.text1 {
	width: 400px;
	background-color: rgb(233, 93, 93);
}

.text2 {
	width: 400px;
	background-color: rgb(73, 73, 235);
	padding: 20px;
	border: 20px solid black;
	box-sizing: border-box;
	/* margin: 20px; */
}
