* {
	margin: 0;
}

.h1 {
	background-color: aqua;
	width: 400px;
}

.h2 {
	background-color: rgb(86, 86, 217);
	width: 400px;
	padding: 20px;
	border: 5px solid black;
	box-sizing: content-box;
}

.h3 {
	background-color: violet;
	width: 400px;
	padding: 20px;
	border: 5px solid black;
	box-sizing: border-box;
}
